# Binaries
bin/

# Generated Fabric artifacts
network/organizations/
network/channel-artifacts/
network/packaging/*.tar.gz
network/packaging/package_id.txt

# Go
chaincode/chaincode
backend/main
backend/backend
vendor/

# Logs
*.log
log.txt

# OS files
.DS_Store

# Modular Compose (Dynamically generated)
network/compose/docker-compose-org[2-9]*.yaml
network/compose/docker-compose-orderers.yaml

# Connection Profiles
network/connection-profiles/
backend/connection.json
