Organizations:
- &id006
  Name: OrdererOrg
  ID: OrdererMSP
  MSPDir: organizations/ordererOrganizations/example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('OrdererMSP.member')
    Writers:
      Type: Signature
      Rule: OR('OrdererMSP.member')
    Admins:
      Type: Signature
      Rule: OR('OrdererMSP.admin')
  OrdererEndpoints:
  - orderer.example.com:7050
- &id008
  Name: Org1MSP
  ID: Org1MSP
  MSPDir: organizations/peerOrganizations/org1.example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('Org1MSP.admin', 'Org1MSP.peer', 'Org1MSP.client')
    Writers:
      Type: Signature
      Rule: OR('Org1MSP.admin', 'Org1MSP.client')
    Admins:
      Type: Signature
      Rule: OR('Org1MSP.admin')
    Endorsement:
      Type: Signature
      Rule: OR('Org1MSP.peer')
  AnchorPeers:
  - Host: peer0.org1.example.com
    Port: 7051
- &id502
  Name: Org2MSP
  ID: Org2MSP
  MSPDir: organizations/peerOrganizations/org2.example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('Org2MSP.admin', 'Org2MSP.peer', 'Org2MSP.client')
    Writers:
      Type: Signature
      Rule: OR('Org2MSP.admin', 'Org2MSP.client')
    Admins:
      Type: Signature
      Rule: OR('Org2MSP.admin')
    Endorsement:
      Type: Signature
      Rule: OR('Org2MSP.peer')
  AnchorPeers:
  - Host: peer0.org2.example.com
    Port: 7051
- &id503
  Name: Org3MSP
  ID: Org3MSP
  MSPDir: organizations/peerOrganizations/org3.example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('Org3MSP.admin', 'Org3MSP.peer', 'Org3MSP.client')
    Writers:
      Type: Signature
      Rule: OR('Org3MSP.admin', 'Org3MSP.client')
    Admins:
      Type: Signature
      Rule: OR('Org3MSP.admin')
    Endorsement:
      Type: Signature
      Rule: OR('Org3MSP.peer')
  AnchorPeers:
  - Host: peer0.org3.example.com
    Port: 7051
Capabilities:
  Channel:
    V2_0: true
  Orderer:
    V2_0: true
  Application:
    V2_5: true

Application: &ApplicationDefaults
  Organizations:
  Policies: &id009
    Readers:
      Type: ImplicitMeta
      Rule: ANY Readers
    Writers:
      Type: ImplicitMeta
      Rule: ANY Writers
    Admins:
      Type: ImplicitMeta
      Rule: MAJORITY Admins
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: MAJORITY Endorsement
    Endorsement:
      Type: ImplicitMeta
      Rule: MAJORITY Endorsement
  Capabilities:
    V2_5: true

Orderer: &OrdererDefaults
  OrdererType: etcdraft
  EtcdRaft: &id003
    Consenters:
    - Host: orderer.example.com
      Port: 7050
      ClientTLSCert: organizations/ordererOrganizations/example.com/orderers/orderer.example.com/tls/server.crt
      ServerTLSCert: organizations/ordererOrganizations/example.com/orderers/orderer.example.com/tls/server.crt
  Addresses: &id004
  - orderer.example.com:7050
  BatchTimeout: 2s
  BatchSize: &id005
    MaxMessageCount: 10
    AbsoluteMaxBytes: 99 MB
    PreferredMaxBytes: 512 KB
  Organizations:
  Policies: &id007
    Readers:
      Type: ImplicitMeta
      Rule: ANY Readers
    Writers:
      Type: ImplicitMeta
      Rule: ANY Writers
    Admins:
      Type: ImplicitMeta
      Rule: MAJORITY Admins
    BlockValidation:
      Type: ImplicitMeta
      Rule: ANY Writers
  Capabilities:
    V2_0: true

Channel: &ChannelDefaults
  Policies: &id001
    Readers:
      Type: ImplicitMeta
      Rule: ANY Readers
    Writers:
      Type: ImplicitMeta
      Rule: ANY Writers
    Admins:
      Type: ImplicitMeta
      Rule: MAJORITY Admins
  Capabilities: &id002
    V2_0: true

Profiles:
  Org1Channel:
    Policies: *id001
    Capabilities: *id002
    Consortium: SampleConsortium
    Orderer:
      OrdererType: etcdraft
      EtcdRaft: *id003
      Addresses: *id004
      BatchTimeout: 2s
      BatchSize: *id005
      Organizations:
      - *id006
      Policies: *id007
      Capabilities:
        V2_0: true
    Application:
      Organizations:
      - *id008
      Policies: *id009
      Capabilities:
        V2_5: true
  DefaultChannel:
    Policies: *id001
    Capabilities: *id002
    Orderer:
      OrdererType: etcdraft
      EtcdRaft: *id003
      Addresses: *id004
      BatchTimeout: 2s
      BatchSize: *id005
      Organizations:
      - *id006
      Policies: *id007
      Capabilities:
        V2_0: true
    Application:
      Organizations:
      - *id008
      - *id502
      - *id503
      Policies: *id009
      Capabilities:
        V2_5: true
