- &id008
  Name: Org1MSP
  ID: Org1MSP
  MSPDir: organizations/peerOrganizations/org1.example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('Org1MSP.admin', 'Org1MSP.peer', 'Org1MSP.client')
    Writers:
      Type: Signature
      Rule: OR('Org1MSP.admin', 'Org1MSP.client')
    Admins:
      Type: Signature
      Rule: OR('Org1MSP.admin')
    Endorsement:
      Type: Signature
      Rule: OR('Org1MSP.peer')
  AnchorPeers:
  - Host: peer0.org1.example.com
    Port: 7051
