- &id502
  Name: Org2MSP
  ID: Org2MSP
  MSPDir: organizations/peerOrganizations/org2.example.com/msp
  Policies:
    Readers:
      Type: Signature
      Rule: OR('Org2MSP.admin', 'Org2MSP.peer', 'Org2MSP.client')
    Writers:
      Type: Signature
      Rule: OR('Org2MSP.admin', 'Org2MSP.client')
    Admins:
      Type: Signature
      Rule: OR('Org2MSP.admin')
    Endorsement:
      Type: Signature
      Rule: OR('Org2MSP.peer')
  AnchorPeers:
  - Host: peer0.org2.example.com
    Port: 7051
